@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/AvenirLTStd-Medium.otf')
  }
  ion-content
  {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 30px;
    --padding-bottom: 30px;
    position: relative;
  }
  .btn_llamada
  {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: right;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #C9C9C9;
    position: absolute;
    right: 30px;
    top: 20px;
    ion-icon
    {
      color: #707070;
      font-size: 1.5625rem;
    }
  }
  .hora
  {
    font-size: 2.1875rem;
    color: #6E6E6E;
    font-family: AvenirMedium;
    margin-bottom: 0;
  }
  .fecha
  {
    color: #6E6E6E;
    font-family: AvenirMedium;
    margin-top: 0;
  }
  .color_select_input
  {
    background-color: #D6D6D6;
    margin-bottom: 10px;
    height: 55px;
    font-family: AvenirMedium;
    color: #333333;
    --placeholder-color: #3a3a3a;
  }
  .font_subtitulo
  {
    color: #6E6E6E;
    font-family: AvenirMedium;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .ion-button-css
  {
    --background: #6DB447;
    --border-width: 1px;
    --border-color: #A7A7A7;
    --border-style: solid;
    --color: #fff;
    --box-shadow: 0px 3px 6px #00000029;
    width: 100%;
    font-family: AvenirMedium;
    font-size: 1.375rem;
    --border-radius: 20px;
    margin-top: 3.75rem;
  }
  @media (min-width: 768px)
  {
    .color_select_input
    {
      height: 65px;
    }
    .btn_llamada
    {
      right: 100px;
      width: 60px;
      height: 60px;
      top: 30px;
      ion-icon
      {
        font-size: 1.875rem;
      }
    }
  }
  @media (min-width: 1024px)
  {
    .color_select_input
    {
      height: 75px;
    }
  }